*{
	margin: 0;
	padding: 0;	
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.container{
	margin: 60px auto;
	height: 480px;
	width: 380px;
	background-color: #298ea6;
	border-radius: 12px;
}


form{
	padding: 50px 0;
	margin: 7.3rem;
}

form h3{
	color: white;
}

.cont {
	border-radius: 5px;
	border-style: none;
	margin-top: 1rem;
	margin-bottom: 15px;
	width: 9rem;
	height: 1.8rem;
}

.pessoas{
	border-radius: 5px;
	border-style: none;
	width: 9rem;
	margin-top: 14px;
	height: 1.8rem;
}

.quality h3{
	margin: 1rem 2rem 0 1rem;
}

.quality{
	height: 1rem;
	width: 2rem;
	border-radius: 5px;
}

.formselect{
	margin: 1rem -0.2rem;
}

.formsubmit{
	width: 8rem;
	height: 3rem;
	margin: 3rem 0.2rem;
	background-color: #0b404d;
	border-radius: 5px;
	display: inline-block;
	color: white;
	box-shadow: #0b404d 3px 3px 0px;
	transition: transform 200ms, box-shadow 200ms;
}

.formsubmit:active{
	width: 8rem;
	height: 3rem;
	margin: 3rem 0.2rem;
	display: inline-block
	border-radius: 5px;
	color: white;
	transform: translateY(3px) translateX(3px);
	box-shadow: 0px 0px 0px;
}

#totaltip{
	display: inline-block;
	color: black;
	margin: 0.1rem 2rem;
}

