*{
	margin: 0;
	padding: 0;	
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.container{
	margin: 60px auto;
	height: 400px;
	width: 650px;
	background-color: #298ea6;
	border-radius: 5px;

}

.titulo{
	background-color: black;
	text-align: center;
	color: white;
	height: 4em;
	
}

.titulo h1{
	padding-top: 10px;
}

 p{
	color: white;
}

.input{
	width: 6rem;
	height: 1.5rem;
}

.container1{
	margin-left: 250px ;
}

 button {
	background-color: #0b404d;
	color: white;
	width: 6rem;
	height: 2rem;
	border-radius: 5px;
	display: inline-block;
}

.input2{
	width: 6rem;
	height: 1.3rem;
}

.formsubmit{
	width: 8rem;
	height: 3rem;
	margin: 4rem 15rem;
	background-color: #0b404d;
	border-radius: 5px;
	color: white;
}